body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #111827, #1f2937);
  color: #e5e7eb;
  padding: 30px;
  transition: 0.4s;
}

/* light Mode */
body.light {
  background: linear-gradient(135deg, #e6eef5, #ffffff);
  color: #111;
}

/* Main Wrapper */
.app-container {
  max-width: 900px;
  margin: auto;
}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Glassmorphism Card */
.card {
  background: rgba(255, 255, 255, 0.12);
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 28px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.35);
  backdrop-filter: blur(18px);
  animation: fadeInUp 0.9s ease forwards;
  opacity: 0;
}

/* Fade + Slide Animation */
@keyframes fadeInUp {
  0% { transform: translateY(25px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* Card Hover effect */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 35px rgba(0,0,0,0.45);
  transition: 0.3s;
}

/* Section Title */
.card h2 {
  margin-bottom: 10px;
  font-size: 24px;
  border-left: 5px solid #38bdf8;
  padding-left: 12px;
}

/* Quote Styling */
.quote-text {
  font-size: 19px;
  margin-top: 10px;
  line-height: 1.6;
  font-style: italic;
}

/* Input Styling */
input {
  padding: 10px 14px;
  width: 140px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.3);
  color: white;
  font-size: 16px;
  margin: 10px 0;
  transition: 0.3s;
}

body.light input {
  background: #dfe6ed;
  color: black;
}

input:focus {
  background: rgba(255,255,255,0.5);
  transform: scale(1.05);
}

/* Toggle Mode Button */
.toggle-btn {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #38bdf8;
  color: #000;
  font-weight: 600;
  transition: 0.3s;
}

.toggle-btn:hover {
  background: #67e8f9;
}
